@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Lora&family=Playfair:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Rubik:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair", serif;
}

header {
  color: #fff;
  padding: 10px 0;
}

.header-top{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between;
  line-height: 42px;
  margin-left: 50px;
  margin-top: -7px;
}

.header-top ul{
  display: flex;
  list-style: none;
  gap: 35px;
}

.header-top ul li{
  display: inline-block;
}

.header-top ul li a{
  text-decoration: none;
  color: #000;
}

.header-top ul li a:hover{
  color: #7949f9;
}

.logo{
  width: 175px;
  height: 64px;
  margin-right: 32px;
  padding-left: 12px;
  position: relative;
  display: flex;
}

.nav-bar ul{
  line-height: 91px;
  gap: 150px;
  font-weight: 700;
  font-size: 20px;
  margin-left: 480px;
  margin-top: -84px;
  display: flex;
  list-style: none;

}

.nav-bar ul li{
  display: inline-block;
}

.nav-bar ul li a{
  text-decoration: none;
  color: #000;
}

.nav-bar ul li a:hover{
  color: #7c8999;
}

.header-main{
  background-color: #453c5c;
  padding: 6px 0;
}

form{
  position: relative;
  width: 600px;
  margin-left: 500px;
}

form.search input{
  line-height: 52px;
  padding: 0 11px 0 72px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
}

form.search :where(span, button){
  position: absolute;
  top: 0;
  padding: 0 24px;
  font-size: 16px;
  color: #7c8999;
  height: 100%;
}

form.search button{
  right: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  font-weight: 600;
  background-color: #965ea5;
  color: #fff;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  transition: #965ea5 0.3s;
}

form.search button:hover{
  background-color: #7c43ad;
}

form.search .icon-large{
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 26px;
  font-weight: normal;
}

/* added */
.container-box{
  max-width: 100%;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.container-heading{
  text-align: center;
  margin-bottom: 20px;
}

.container-heading h1{
  font-size: 35px;
  font-family: 'Orbitron', sans-serif;
  color: #3498db;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}

.container-heading h1::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #3498db;
  margin: 10px auto 0;
  opacity: 0;
  animation: underlineFade 3s forwards;
}

@keyframes underlineFade {
  from {
      opacity: 0;
      width: 0;
  }
  to {
      opacity: 1;
      width: 35%;
  }
}

.container-heading h2{
  font-size: 24px;
  color: #333;
  margin-top: 6px;
}

.container-heading h3{
  font-size: 18px;
  color: #666;
}

.billing{
  margin-top: 20px;
}

.billing-detail h2{
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 43px;
}

.container-box form{
  max-width: 600px;
  margin-left: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 651px;
}

.inputbox{
  margin-bottom: 30px;
  position: relative;
}

.inputbox:nth-child(3){
  width: 100%;
}

.inputbox label{
  display: block;
  margin-bottom: 20px;
  color: #333;
}

.inputbox input,
.inputbox select{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.error{
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.order{
  position: absolute;
  right: 0;
  width: 45%;
  top: 47%;
}

.order-heading h2{
  color: #333;
  font-size: 30px;
}

.order-desc{
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
}

.order-desc ul{
  padding: 0;
  list-style: none;
}

.order-desc li{
  font-size: 20px;
  margin-bottom: 15px;
}

.order-desc li:nth-child(3),
.order-desc li:nth-child(5){
  border-bottom: 2px solid #000;
  width: 56%;
  margin-bottom: 16px;
}

.order-desc li span{
  font-weight: bold;
  display: inline-block;
  width: 200px;
}

.order-desc li span::after{
  content: '\00a0';
}

.second{
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
}

.payment-option{
  margin-top: 25px;
  width: 94%;
}

.payment-option h3{
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

.radio-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-item [type="radio"]{
  display: none;
}

.radio-item + .radio-item{
  margin-top: 15px;
}

.radio-btn label{
  display: block;
  padding: 10px 40px;
  background: #7d78b4;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  min-width: 200px;
  white-space: nowrap;
  position: relative;
  color: #fff;
  margin-top: 5px;
  transition: .4s ease-in-out 0s;
}

.radio-item label::after,
.radio-item label::before{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.radio-item label::after{
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
  left: 10px;
  top: calc(50% - 12px);
}

.radio-item label::before{
  background: #fff;
  height: 10px;
  width: 10px;
  left: 17px;
  top: calc(50% - 5px);
  transform: scale(3);
  opacity: 0;
  visibility: hidden;
  transition: .4s ease-in-out 0s;
}

.radio-item [type="radio"]:checked ~ label{
  border-color: #fff;
}

.radio-item [type="radio"]:checked ~ label::before{
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.order-place {
  margin-top: 30px;
  text-align: center;
  margin-left: -70px;
}

.button{
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 10px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: all ease 0.2s;
}

button:active{
  scale: 0.9;
}

.button:hover{
  background-color: #2f2885;
}

footer {
  background-color: #f9f9f9;
  padding: 30px 390px;
  color: #333;
}

.widgets .flexwrap {
  display: flex;
  flex-wrap: initial;
}

.widgets .row {
  width: 30%;
  padding: 0 120px;
}

.widgets .item h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.item.mini-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item.mini-links ul li {
  margin-bottom: 5px;
}

.item.mini-links ul li a {
  color: #333;
  text-decoration: none;
}

.item.mini-links ul li a:hover {
  text-decoration: underline;
}

.footer-info{
  padding: 20px 0 0;
}

.footer-info .wrapper .flexcol{
  align-items: center;
  gap: 0;
}

.socials{
  margin-top: 30px;
  margin-left: 100px;
}

.footer-info .logo img{
  margin-left: 230px;
}

.footer-info .flexitem{
  margin-left: 132px;
  align-items: center;
  display: flex;
  margin-top: -18px;
}

.footer-info ul li{
  list-style: none;
}

.footer-info ul li a{
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: #f2f3f5;
  border-radius: 50%;
  margin: 4px;
  transition: #f2f3f5 all ease .2s;
}

.footer-info ul li a:active{
  scale: 0.9;
}

.footer-info ul li a:hover{
  background-color: #e5e8ec;
}

.footer-info .mini-text{
  text-align: center;
  margin-top: 2px;
}